@using _04._03._2022_EFCodeFirst.Models
@model KisilerveAdresler

@{
    ViewBag.Title = "Index2";
}

<h2>HomePage</h2>
<div class="row">

</div>
<div class="row">
    <div class="col-md-6">
        <div>
            @Html.ActionLink("Yeni Kisi", "Yeni", "Kisi", null, new {@class="btn btn-primary"})
            <br />
        </div>
        <ul class="list-group">
            <li class="list-group-item">
            <h3 class="alert-danger">Kişiler</h3>
            </li>
            @foreach (var Kisi in Model.Kisiler)
            {
        <li class="list-group-item">
            <span class="glyphicon glyphicon-user red">
            </span>
            @("Ad Soyad="+Kisi.Ad+" "+Kisi.Soyad)
        </li>
            }
        </ul>
    </div>
    <div class="col-md-6">
        <div>
            @Html.ActionLink("Yeni Adres", "Yeni", "Adres", null, new { @class = "btn btn-primary" })
            <br />
        </div>

        <ul class="list-group">
            <li class="list-group-item">
                <h3 class="alert-danger">Adresler</h3>
            </li>
            @foreach (var adres in Model.Adresler)
            {
                <li class="list-group-item">
                    <span class="glyphicon glyphicon-home green"></span>
                    @("Adresler="+adres.AdresTanim) (<i> @(adres.Kisi.Ad+""+adres.Kisi.Soyad)</i>)
                </li>
            }
        </ul>
    </div>
</div>


